@model IEnumerable<Product>

<div class="listing-listing">
    <div class="listing-counter">@Model.Count() کالا</div>
    <div class="listing-header">
        <span class="mdi mdi-sort-variant"></span>
        <ul class="listing-sort">
            مرتب‌سازی بر اساس :
            @*<li><a >پربازدید ترین</a></li>
                <li><a >محبوب ترین</a></li>*@
            <li id="sorting0" class="listing-active"><a class="sorting-value">جدید ترین</a></li>
            <li id="sorting1"><a class="sorting-value">پرفروش ترین</a></li>
            <li id="sorting2"><a class="sorting-value">ارزان ترین</a></li>
            <li id="sorting3"><a class="sorting-value">گران ترین</a></li>
        </ul>
    </div>

    <ul class="listing-item">
        <li style="display:block" class="product-grid">

            @foreach (var product in Model.OrderByDescending(x => x.AddingDateTime))
            {
                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller"><i class="fa fa-car"></i>&nbsp;برند : @product.Brand?.Title</span>
                        </div>

                        <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="promotion-box-image">
                            <img src="@Helper.ThumbnailImagePath@product.ImageName">
                        </a>

                        <div class="product-box-content">
                            <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="product-box-title">@product.Name</a>
                        </div>

                        @*<div class="product-box-rate">
                                <span>۲,۶۵۰ نفر</span>

                                <div class="stars">
                                    <span><img src="~/images/search/star-1.svg"></span>
                                    <span><img src="~/images/search/star-1.svg"></span>
                                    <span><img src="~/images/search/star-1.svg"></span>
                                    <span><img src="~/images/search/star-1.svg"></span>
                                    <span><img src="~/images/search/star-1.svg"></span>
                                </div>
                            </div>*@

                        <div class="product-box-row">
                            @if (product.Price > product.PriceWithDiscount)
                            {
                                <del><span class="price-value-wrapper-del">@product.Price.ToString("N0")</span></del>
                                <span class="price-value-wrapper">@product.PriceWithDiscount.ToString("N0")</span>
                                <span class="price-currency">تومان </span>
                            }
                            else
                            {
                                <span class="price-value-wrapper">@product.Price.ToString("N0")</span>
                                <span class="price-currency">تومان </span>
                            }
                        </div>
                    </div>
                </div>
            }

        </li>
        @*<li>
                @foreach (var product in Model.OrderByDescending(x => x.FactorItems?.Count))
                {
                    <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                        <div class="promotion-box">
                            <div class="product-seller-details">
                                <span class="product-main-seller"><i class="fa fa-car"></i>&nbsp;برند : @product.Brand?.Title</span>
                            </div>

                            <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="promotion-box-image">
                                <img src="@Helper.ThumbnailImagePath@product.ImageName">
                            </a>

                            <div class="product-box-content">
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="product-box-title">@product.Name</a>
                            </div>

                            <div class="product-box-row">
                                <span class="price-value-wrapper">@product.Price.ToString("N0")</span>
                                <span class="price-currency">تومان </span>
                            </div>
                        </div>
                    </div>
                }

            </li>
            <li>
                @foreach (var product in Model.OrderBy(x => x.Price))
                {
                    <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                        <div class="promotion-box">
                            <div class="product-seller-details">
                                <span class="product-main-seller"><i class="fa fa-car"></i>&nbsp;برند : @product.Brand?.Title</span>
                            </div>

                            <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="promotion-box-image">
                                <img src="@Helper.ThumbnailImagePath@product.ImageName">
                            </a>

                            <div class="product-box-content">
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="product-box-title">@product.Name</a>
                            </div>

                            <div class="product-box-row">
                                <span class="price-value-wrapper">@product.Price.ToString("N0")</span>
                                <span class="price-currency">تومان </span>
                            </div>
                        </div>
                    </div>
                }

            </li>
            <li>
                @foreach (var product in Model.OrderByDescending(x => x.Price))
                {
                    <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                        <div class="promotion-box">
                            <div class="product-seller-details">
                                <span class="product-main-seller"><i class="fa fa-car"></i>&nbsp;برند : @product.Brand?.Title</span>
                            </div>

                            <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="promotion-box-image">
                                <img src="@Helper.ThumbnailImagePath@product.ImageName">
                            </a>

                            <div class="product-box-content">
                                <a asp-controller="Product" asp-action="Details" asp-route-id="@product.Id" class="product-box-title">@product.Name</a>
                            </div>

                            @if (product.Price > product.PriceWithDiscount)
                            {
                                <div class="product-box-row">
                                    <del><span>@product.Price.ToString("N0")<span> تومان</span></span></del>
                                    <span class="price-value-wrapper">@product.PriceWithDiscount.ToString("N0")</span>
                                    <span class="price-currency">تومان </span>
                                </div>
                            }
                            else
                            {
                                <div class="product-box-row">
                                    <span class="price-value-wrapper">@product.Price.ToString("N0")</span>
                                    <span class="price-currency">تومان </span>
                                </div>
                            }
                        </div>
                    </div>
                }
            </li>*@
        @*<li>
                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-2.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-10.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-9.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-6.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-1.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-2.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-7.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-6.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-5.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-1.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-3.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-1.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-2.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-3.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-4.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-5.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-6.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-8.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-9.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-7.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-4.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-1.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>
            </li>
            <li>
                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-2.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-10.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-9.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-6.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-1.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-2.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-7.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-6.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-5.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-1.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="    padding: 0;">
                    <div class="promotion-box">
                        <div class="product-seller-details">
                            <span class="product-main-seller">فروشنده : ای جی</span>
                        </div>

                        <a  class="promotion-box-image">
                            <img src="~/images/search/product-3.jpg">
                        </a>

                        <div class="product-box-content">
                            <a  class="product-box-title">شارژر همراه شیاومی مدل PLM09ZM ظرفیت 10000 میلی آمپر ساعت</a>
                        </div>

                        <div class="product-box-rate">
                            <span>۲,۶۵۰ نفر</span>

                            <div class="stars">
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                                <span><img src="~/images/search/star-1.svg"></span>
                            </div>
                        </div>

                        <div class="product-box-row">
                            <span class="price-value-wrapper">۱۸۹,۷۰۰ </span>
                            <span class="price-currency">تومان </span>
                        </div>
                    </div>
                </div>
            </li>*@
    </ul>
    <div class="pager">
        <ul class="page-item">
            @*<li class="pagination-item"><a  class="pager-item-active">1</a></li>
                <li class="pagination-item"><a >2</a></li>
                <li class="pagination-item"><a >3</a></li>
                <li class="pagination-item"><a >4</a></li>
                <li class="pagination-item"><a >5</a></li>
                <li class="pagination-item"><a ><i class="fa fa-angle-double-left"></i></a></li>*@
        </ul>
    </div>
</div>

<script>

    $(document).ready(function () {

        var count = @ViewBag.Count;
        var skip = @ViewBag.Skip;
        var limit = @ViewBag.Limit;

        if (skip === 0) {
            $('.page-item').append('<li class="pagination-item"><a class="more-button page-link btn btn-light disabled"  aria-label="Previous" rel="prev"><span aria-hidden="true">&lsaquo;</span><span class="sr-only">قبلی</span></a></li>');
        } else {
            $('.page-item').append('<li class="pagination-item"><a class="more-button page-link btn btn-light"  aria-label="Previous" rel="prev" data-number="' + (skip - 1) + '"><span aria-hidden="true">&lsaquo;</span><span class="sr-only">قبلی</span></a></li>');
        }

        var min = Math.min(skip - 2, Math.ceil(count / limit) - 5);

        if (min < 0) {
            min = 0;
        }

        for (var i = min; i < Math.ceil(count / limit) && i < min + 5; i += 1) {
            $('.page-item').append('<li class="pagination-item"><a class="more-button page-link btn btn-light' + (skip === i ? ' active' : '') + '" data-number="' + i + '">' + (i + 1) + '</a></li>');
        }

        if (skip >= Math.ceil(count / limit) - 1) {
            $('.page-item').append('<li class="pagination-item"><a class="more-button page-link btn btn-light disabled"  aria-label="Next" rel="next"><span aria-hidden="true">&rsaquo;</span><span class="sr-only">بعدی</span></a></li>');
        } else {
            $('.page-item').append('<li class="pagination-item"><a class="more-button page-link btn btn-light"  aria-label="Next" rel="next" data-number="' + (skip + 1) + '"><span aria-hidden="true">&rsaquo;</span><span class="sr-only">بعدی</span></a></li>');
        }

    });

</script>