@model IEnumerable<ECommerce.Models.ProductField>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, ECommerce

@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

<form asp-controller="Product" asp-action="AddEditFielsd">
    <link href="~/css/dropdownliststyle.css" rel="stylesheet" />
    @{ string pId = ""; }
    @{
        List<string> lsIdField = new List<string>();

        var product = Model.FirstOrDefault();

        if (product != null)
        {
            pId = product.Product.Id;
            foreach (var item in Model)
            {
                lsIdField.Add(item.FieldId);
            }
        }

        HttpContextAccessor.HttpContext.Session.SetComplexData("lsIdField", lsIdField);
        HttpContextAccessor.HttpContext.Session.SetString("ProductId", pId);
        var group = Model.GroupBy(x => x.Field.FieldGroupId);
    }

    <div class="modal-body form-horizontal">
        <div class="row">
            @if (group.Count() == 0)
            {
                <div>فیلدی تعریف نشده است</div>
            }
            else
            {
                @foreach (var item in group)
                {
                    var grp = item.ToList().First().Field.FieldGroup;
                    <div class="form-group">
                        <div class="col-lg-6 h4">@grp.Title</div>
                    </div>
                    var select = Model.Where(x => x.Field.FieldGroupId == item.First().Field.FieldGroupId);

                    foreach (var selectItem in select)
                    {

                        if (selectItem.Field.FieldTypeId == "1")
                        {

                            <div class="form-group">
                                <div class="col-lg-2">@selectItem.Field.Title</div>
                                <div class="col-lg-4">
                                    <input name="@selectItem.FieldId" value="@selectItem.Value" class="form-control" required="required" />
                                </div>
                            </div>
                        }

                        if (selectItem.Field.FieldTypeId == "2")
                        {
                            <div class="form-group">
                                <div class="col-lg-2">@selectItem.Field.Title</div>

                                <select name="@selectItem.FieldId">
                                    @if (selectItem.Value == "1" || selectItem.Value == "true")
                                    {
                                        <option value="1" selected>بله</option>
                                        <option value="0">خیر</option>
                                    }
                                    else if (selectItem.Value == "0" || selectItem.Value == "false")
                                    {
                                        <option value="1">بله</option>
                                        <option value="0" selected>خیر</option>
                                    }
                                    else
                                    {

                                        <option value="true">بله</option>
                                        <option value="false">خیر</option>
                                    }
                                </select>
                            </div>
                        }
                        if (selectItem.Field.FieldTypeId == "3")
                        {
                            <div class="form-group">
                                <div class="col-lg-2">@selectItem.Field.Title</div>

                                @if (selectItem.Value == "1" || selectItem.Value == "true")
                                {
                                    <select name="@selectItem.FieldId">
                                        <option value="1" selected>دارد</option>
                                        <option value="0">ندارد</option>
                                    </select>

                                }
                                else if (selectItem.Value == "0" || selectItem.Value == "false")
                                {
                                    <select name="@selectItem.FieldId">
                                        <option value="1">دارد</option>
                                        <option value="0" selected>ندارد</option>
                                    </select>

                                }
                                else
                                {
                                    <select name="@selectItem.FieldId">
                                        <option value="1">دارد</option>
                                        <option value="0">ندارد</option>
                                    </select>

                                }

                            </div>
                        }
                        @*if (selectItem.First().Type == 4)
                            {
                                TempData["ProductFieldId"] = selectItem.First().ProductFieldId;
                                <div class="form-group">
                                    <div class="col-lg-2">@selectItem.First().FieldTitle</div>
                                    <div class="col-lg-6" style="padding-right: 2px;">
                                        <select asp-for="@selectItem.Where(x=>x.CarName!=null).First().CarIds" asp-items="carListItems" class="ddlMultiSlectBox" multiple="multiple"></select>
                                    </div>
                                </div>
                            }
                            i++;*@
                    }
                }
            }




        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" type="button" data-dismiss="modal" value="برگشت">برگشت</button>
        <input type="submit" id="submitdata" class="btn btn-success" value="ذخیره فیلدها" />
    </div>

</form>
<script src="~/js/MultiSelect/jquery.sumoselect.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        window.asd = $('.ddlMultiSlectBox').SumoSelect({ csvDispCount: 4 });
    });
</script>