@model Product

@{
    ViewBag.Title = Model.Name;
}

<!--single-product------------------------->
<div class="col-12">
    <div class="product-page">
        <div class="product-nav-container">
            <ul class="js-breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">کاربیوتیک</a></li>

                @if (ViewBag.CategoryGroup != null)
                {
                    <li><a asp-controller="Product" asp-action="CategoryGroup" asp-route-id="@ViewBag.CategoryGroup.Id">@ViewBag.CategoryGroup.Title</a></li>
                }

                @if (ViewBag.Category != null)
                {
                    <li><a asp-controller="Product" asp-action="Category" asp-route-id="@ViewBag.Category.Id">@ViewBag.Category.Title</a></li>
                }
            </ul>
            @*<div class="product-feedback">
                    <a href="#" class="feedback-survey-btn">بازخورد درباره این کالا</a>
                </div>*@
        </div>
        <article class="js-product">
            <div class="col-lg-4 col-md-12 col-xs-12 pull-right">
                <div class="product-gallery">
                    <img class="zoom-img" id="img-product-zoom" src="@Helper.ThumbnailImagePath@Model.ImageName"
                         data-zoom-image="@Helper.ThumbnailImagePath@Model.ImageName" width="411" />
                    @if (Model.ProductGalleries?.Count > 0)
                    {
                        <div id="gallery_01f" style="width:420px;float:right;">
                            <ul class="gallery-items owl-carousel owl-theme" id="gallery-slider">
                                @foreach (var productGallery in Model.ProductGalleries)
                                {
                                    <li class="item">
                                        <a href="#" class="elevatezoom-gallery active" data-update=""
                                           data-image="@Helper.NormalImagePath@productGallery.Image"
                                           data-zoom-image="@Helper.NormalImagePath@productGallery.Image">
                                            <img src="@Helper.NormalImagePath@productGallery.Image" width="100" />
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }

                </div>
            </div>

            <!-- Modal -->
            <div class="col-lg-8 col-md-12 col-xs-12 pull-left">
                <section class="product-info">
                    <div class="product-headline">
                        <h1 class="product-title">
                            @Model.Name
                            @*<span class="product-title-en">Samsung Galaxy A50 SM-A505F/DS Dual SIM 128GB Mobile Phone</span>*@
                        </h1>
                        <div class="product-guaranteed">
                            <span>
                                @*بیش از ۹۹۹ نفر از خریداران این محصول را پیشنهاد داده‌اند*@
                            </span>
                        </div>
                    </div>
                    <div class="product-attributes">
                        <div class="col-lg-7 col-md-7 col-xs-12 pull-right" style="padding:0">
                            <div class="product-config">
                                <div class="product-config-wrapper">
                                    <div class="product-directory">
                                        <ul>
                                            <li>
                                                <span>برند</span>
                                                :
                                                <a asp-controller="Product" asp-action="Brand" asp-route-id="@Model.BrandId" class="link-border">@Model.Brand?.Title</a>
                                            </li>
                                            <li>
                                                <span>دسته‌بندی</span>
                                                :
                                                <a asp-controller="Product" asp-action="Category" asp-route-id="@Model.CategoryId" class="link-border">@Model.Category?.Title</a>
                                            </li>
                                        </ul>
                                        <ul>
                                            <li>
                                                <br />
                                                <span>خودرو</span>
                                                :
                                                @foreach (Car car in ViewBag.Cars)
                                                {
                                                    <a asp-controller="Product" asp-action="Car" asp-route-id="@car.Id" class="link-border">@car.Maker?.Name @car.Name</a><text>&nbsp;&nbsp;</text>
                                                }
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="product-params">

                                        <div class="product-additional-info">
                                            <div class="product-additional-item">

                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        @Model.Description
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-xs-12 pull-left" style="padding:0">
                            <div class="product-seller-info">
                                <div class="js-seller-info-changable">

                                    <div class="product-seller-row">
                                        <div class="product-seller-row js-seller-info-shipment">
                                            <div class="product-delivery-warehouse">آماده ارسال</div>
                                        </div>
                                        <div class="product-seller-row-price">
                                            @if (Model.Price > Model.PriceWithDiscount)
                                            {
                                                <del><span>@Model.Price.ToString("N0")<span> تومان</span></span></del>
                                            }

                                            <div class="product-seller-row-price">
                                                <div class="product-seller-price-prev">@Model.PriceWithDiscount.ToString("N0")</div>
                                                تومان
                                            </div>

                                            <a id="btnproductborrow" class="btn-add-to-cart"><span class="btn-add-to-cart-txt">افزودن به سبد خرید</span></a>
                                            <span style="display:none" id="pid">@Model.Id</span>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </section>
            </div>
        </article>

        @if (ViewBag.RelatedProducts?.Count > 0)
        {
            <div class="col-lg-12 col-md-12 col-xs-12" style="padding:0;">
                @*<div class="row">
                    <div class="col-12">*@
                <div class="widget widget-product card">
                    <header class="card-header">
                        <span class="title-one">محصولات مرتبط</span>
                        <h3 class="card-title"></h3>
                    </header>

                    @await Component.InvokeAsync("ProductsCarousel", new { products = ViewBag.RelatedProducts })

                </div>
            </div>
            @*</div>
                </div>*@
        }

        <div class="p-tabs">
            <div class="box-tabs-main">
                <ul class="box-tabs">
                    @*<li class="box-tabs-tab active-tabs">
                            <a href="#"><span class="fa fa-file-text-o"></span> نقد و بررسی</a>
                        </li>*@
                    <li class="box-tabs-tab active-tabs">
                        <a href="#"><span class="fa fa-file-text-o"></span>مشخصات</a>
                    </li>
                    <li class="box-tabs-tab">
                        <a href="#"><span class="fa fa-comments-o"></span>نظرات کاربران</a>
                    </li>
                </ul>
            </div>
            <div class="tabs-content">
                <div class="tab-active-content">

                    <div class="tab params" style="display:block;">
                        <article>
                            <h2 class="params-headline">
                                مشخصات فنی
                                <span>@Model.Name</span>
                            </h2>
                            <section>
                                @*<h3 class="params-title">مشخصات کلی</h3>*@
                                <ul class="params-list">
                                    @if (ViewBag.ProductFields != null)
                                    {
                                        @foreach (ProductField item in ViewBag.ProductFields)
                                        {

                                            <li>
                                                <div class="col-lg-3 col-md-3 col-xs-12 pull-right" style="padding:0;">
                                                    <div class="params-list-key">
                                                        <span class="block">@item.Field?.Title</span>
                                                    </div>
                                                </div>

                                                <div class="col-lg-9 col-md-9 col-xs-12 pull-left" style="padding:0;">
                                                    <div class="params-list-value">
                                                        <span class="block">@item.Value</span>
                                                    </div>
                                                </div>

                                            </li>
                                        }
                                    }

                                </ul>
                            </section>

                        </article>
                    </div>
                    <div class="tab comments" style="display:none;">

                        <h2 class="comments-headline">
                            نظرات کاربران
                        </h2>

                        <div id="product-comment-list">
                            <ul class="comments-list">

                                @foreach (var commentAndStar in Model.CommentAndStars)
                                {
                                    <li style="display:block">
                                        <section>
                                            <div class="col-lg-12 col-md-12 col-xs-12">
                                                <div class="article">
                                                    @*<div class="header">
                                                            <div>
                                                                ارسال رم 4 بجای رم 6
                                                                <span>توسط حسن شجاعی در تاریخ ۱۳ خرداد ۱۳۹۸</span>
                                                            </div>
                                                        </div>*@
                                                    <p>
                                                        @commentAndStar.Comment
                                                    </p>
                                                    @*<div class="footer">
                                                            <div class="comment-like-container">
                                                                آیا این نظر برایتان مفید بود؟
                                                                <button class="btn-like" data-counter="۱,۵۲۸">بله</button>
                                                                <button class="btn-like" data-counter="۷۹">خیر</button>
                                                            </div>
                                                        </div>*@
                                                </div>
                                            </div>
                                        </section>

                                    </li>
                                }

                            </ul>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>
<!--single-product------------------------->

@section Scripts{
    <script>
        $('#btnproductborrow').on("click", function() {
                var post_data = $('#pid').text();
                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("AddToCart","Product")',
                    data: { 'productId': post_data },
                    success: function(msg) {
                        if (msg.status === 'success') {
                            //alert(msg.message);
                            //$("#requestcount").text(msg.count);
                        } else {
                            //alert(msg.message);
                        }
                        $("#cartIcon").empty();
                        if (msg.count > 0) {
                            $("#cartIcon").html('<span id="itemCountBadge" class="badge badge-pill badge-danger">' + msg.count + '</span>');
                        }
                        var scriptOption = "<script> iziToast.show({message:'" + msg.message + "'" + ",theme: 'light', color: '2',icon: 'icon icon-check', iconColor: '#1ABC9C' ,messageColor: 'snow',backgroundColor: '#1ABC9C',maxWidth: 500,layout: 2,balloon: false,close: true,closeOnEscape: true,closeOnClick: true,displayMode: 0, position: 'topLeft',targetFirst: true,timeout: 5000,rtl: true,animateInside: true,drag: true,pauseOnHover: true,resetOnHover: false,progressBar: true,progressBarColor: '',progressBarEasing: 'linear',overlay: false,overlayClose: false,overlayColor: 'rgba(0, 0, 0, 0.6)',transitionIn: 'fadeInUp',transitionOut: 'fadeOut',transitionInMobile: 'fadeInUp',transitionOutMobile: 'fadeOutDown' }); <\/script>";
                            $("#notificationDiv").append(scriptOption);
                    }
                });
            })
    </script>

}