@*@model ECommerce.Models.MultiModelsProductDetailes*@

@{
    ViewBag.Title = "جزئیات محصول";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<!--single-product------------------------->
<div class="col-12">
    @{

        <div class="product-page">
            @*<div class="product-nav-container">
                    <ul class="js-breadcrumb">
                        <li><a href="#">فروشگاه اینترنتی دیجی استور</a></li>
                        <li><a href="#">کالای دیجیتال</a></li>
                        <li><a href="#">موبایل</a></li>
                        <li><a href="#">گوشی موبایل</a></li>
                    </ul>
                </div>*@
            @{
                string productname = "";
            }
            @foreach (var item in Model.ProductViewModels)
            {
                productname = item.Name;
                <article class="js-product">
                    <div class="col-lg-4 col-md-12 col-xs-12 pull-right">
                        <div class="product-gallery">
                            <img class="zoom-img" id="img-product-zoom" src="~/upload/normalimage/@item.ImageName"
                                 data-zoom-image="~/upload/normalimage/@item.ImageName" width="411" />
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalCenterTitle">اشتراک گذاری در شبکه های اجتماعی</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="form-share-row">
                                    <div class="form-share-col">
                                        <ul class="btn-group-share">
                                            <li>
                                                <a href="#" class="btn-share btn-share-twitter">
                                                    <i class="fa fa-twitter"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="btn-share btn-share-facebook">
                                                    <i class="fa fa-facebook"></i>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="btn-share btn-share-whatsapp">
                                                    <i class="fa fa-whatsapp"></i>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-share-title">ارسال به ایمیل</div>
                                <div class="form-share-row">
                                    <div class="form-share-col">
                                        <form for="#" class="send-to-email">
                                            <input name="" class="input-send-to-email" type="email" placeholder="آدرس ایمیل را وارد نمایید.">
                                        </form>
                                    </div>
                                </div>
                                <div class="form-share-row">
                                    <div class="form-share-col">
                                        <div class="btn-send-email">ارسال</div>
                                    </div>
                                </div>
                                <div class="form-share-row">
                                    <div class="form-share-col">
                                        <input class="ui-url-field" type="url" value="https://www.digikala.com/product/dkp-1672478" readonly="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->

                    <div class="col-lg-8 col-md-12 col-xs-12 pull-left">
                        <section class="product-info">
                            <div class="product-headline">
                                <h1 class="product-title">
                                    @item.Name
                                </h1>
                            </div>
                            <div class="product-attributes">
                                <div class="col-lg-7 col-md-7 col-xs-12 pull-right" style="padding: 0">
                                    <div class="product-config">
                                        <div class="product-config-wrapper">
                                            <div class="product-directory">
                                                <ul>
                                                    @*<li>
                                                            <span>برند</span>
                                                            :
                                                            <a href="#" class="link-border">سامسونگ</a>
                                                        </li>*@
                                                    <li>
                                                        <span>دسته‌بندی</span>
                                                        :
                                                        <a href="#" class="link-border">@item.CategoryName</a>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-5 col-md-5 col-xs-12 pull-left" style="padding: 0">
                                    <div class="product-seller-info">
                                        <div class="js-seller-info-changable">

                                            <div class="product-seller-row">
                                                <div class="product-seller-row js-seller-info-shipment">
                                                    <div class="product-delivery-warehouse">آماده ارسال</div>

                                                </div>
                                                <div class="product-seller-row-price">
                                                    <div class="product-seller-price-prev">@item.Price</div>
                                                    تومان
                                                </div>

                                                <a id="btnproductborrow" class="btn-add-to-cart"><span class="btn-add-to-cart-txt">افزودن به سبد خرید</span></a>
                                                <span style="visibility:hidden" class="hide" id="pid">@item.Id</span>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>

                </article>
            }

            <div class="p-tabs">
                <div class="box-tabs-main">
                    <ul class="box-tabs">
                        <li class="box-tabs-tab active-tabs">
                            <a href="#"><span class="fa fa-file-text-o"></span>مشخصات</a>
                        </li>

                    </ul>
                </div>
                <div class="tabs-content">
                    <div class="tab-active-content">
                        <div class="tab params" style="display: block;">
                            <article>
                                <h2 class="params-headline">
                                    مشخصات محصول
                                    <span>@productname</span>
                                </h2>
                                @{
                                    try
                                    {
                                        if (Model.ProductFieldViewModels.Any())
                                        {
                                            var ls = Model.ProductFieldViewModels.FirstOrDefault()?.lsFieldGroup;

                                            if (ls != null)
                                            {
                                                foreach (var item in ls)
                                                {
                                                    <section>
                                                        @{
                                                            string Group = "";
                                                            try
                                                            {
                                                                //var selectGroup = Model.ProductFieldViewModels.FirstOrDefault(x => x.IdFieldGroup == item);
                                                                //if (selectGroup != null)
                                                                //{
                                                                //    Group = selectGroup.fieldGroup;
                                                                //}
                                                            }
                                                            catch (Exception e)
                                                            {
                                                                string dd = e.Message;
                                                                throw;
                                                            }

                                                            <h3 class="params-title">@Group</h3>

                                                            //var select = Model.ProductFieldViewModels.Where(x => x.IdFieldGroup == item);
                                                            ProductField first = null;
                                                            foreach (var model in Model.ProductFields)
                                                            {
                                                                first = model;
                                                                //select = select.Where(x => x.IdProduct == first.ProductId);
                                                                break;
                                                            }
                                                            @*foreach (var selectItem in select)
                                                            {
                                                                <ul class="params-list">

                                                                    @{
                                                                        if (selectItem.Type == 1)
                                                                        {
                                                                            <li>
                                                                                <div class="col-lg-3 col-md-3 col-xs-12 pull-right" style="padding:0;">
                                                                                    <div class="params-list-key">
                                                                                        <span class="block">@selectItem.Title</span>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-lg-9 col-md-9 col-xs-12 pull-left" style="padding:0;">
                                                                                    <div class="params-list-value">
                                                                                        <span class="block">@selectItem.Value</span>
                                                                                    </div>
                                                                                </div>

                                                                            </li>

                                                                        }
                                                                        if (selectItem.Type == 2)
                                                                        {
                                                                            <li>

                                                                                <div class="col-lg-3 col-md-3 col-xs-12 pull-right" style="padding:0;">
                                                                                    <div class="params-list-key">
                                                                                        <span class="block">@selectItem.Title</span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-9 col-md-9 col-xs-12 pull-left" style="padding:0;">
                                                                                    <div class="params-list-value">
                                                                                        @if (selectItem.Value == "1" || selectItem.Value == "true")
                                                                                        {
                                                                                            <span class="block">بله</span>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span class="block">بله</span>
                                                                                        }
                                                                                    </div>
                                                                                </div>

                                                                            </li>

                                                                        }
                                                                        if (selectItem.Type == 3)
                                                                        {
                                                                            <li>

                                                                                <div class="col-lg-3 col-md-3 col-xs-12 pull-right" style="padding:0;">
                                                                                    <div class="params-list-key">
                                                                                        <span class="block">@selectItem.Title</span>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-lg-9 col-md-9 col-xs-12 pull-left" style="padding:0;">
                                                                                    <div class="params-list-value">
                                                                                        @if (selectItem.Value == "1" || selectItem.Value == "true")
                                                                                        {
                                                                                            <span class="block">دارد</span>
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <span class="block">ندارد</span>
                                                                                        }
                                                                                    </div>
                                                                                </div>

                                                                            </li>
                                                                        }
                                                                        if (selectItem.Type == 4)
                                                                        {
                                                                            <li>
                                                                                <div class="col-lg-3 col-md-3 col-xs-12 pull-right" style="padding:0;">
                                                                                    <div class="params-list-key">
                                                                                        <span class="block">@selectItem.Title</span>
                                                                                    </div>
                                                                                </div>

                                                                                <div class="col-lg-9 col-md-9 col-xs-12 pull-left" style="padding:0;">
                                                                                    <div class="params-list-value">
                                                                                        <span class="block">@selectItem.CarNames</span>
                                                                                    </div>
                                                                                </div>

                                                                            </li>

                                                                        }
                                                                    }
                                                                </ul>

                                                            }*@

                                                        }
                                                    </section>
                                                }
                                            }

                                        }

                                    }
                                    catch (Exception)
                                    {
                                        <span>مشخصاتی برای این محصول ثبت نشده است</span>
                                        //throw;
                                    }

                                }
                            </article>
                        </div>

                    </div>

                </div>
            </div>
        </div>

    }
</div>
<div id="notificationDiv">

</div>

<!--single-product------------------------->
@section Scripts{
    <script>
        $('#btnproductborrow').on("click",
            function() {
                var post_data = $('#pid').text();

                $.ajax({
                    type: 'POST',
                    @*url: '@Url.Action("Borrow","HomePage")',*@
                    data: { 'productid': post_data },

                    success: function(msg) {
                        if (msg.status === 'success') {
                            //alert(msg.message);
                            $("#requestcount").text(msg.sabadcount);
                        } else {
                            //alert(msg.message);
                        }

                        $("#cartIcon").empty();
                        if (msg.sabadcount > 0) {
                            $("#cartIcon").html('<span class="badge badge-pill badge-danger">' + msg.sabadcount + '</span>');
                        }

                        var scriptOption = "<script> iziToast.show({message:'" + msg.message + "'" + ",theme: 'light', color: '2',icon: 'icon icon-check', iconColor: '#1ABC9C' ,messageColor: 'snow',backgroundColor: '#1ABC9C',maxWidth: 500,layout: 2,balloon: false,close: true,closeOnEscape: true,closeOnClick: true,displayMode: 0, position: 'topLeft',targetFirst: true,timeout: 5000,rtl: true,animateInside: true,drag: true,pauseOnHover: true,resetOnHover: false,progressBar: true,progressBarColor: '',progressBarEasing: 'linear',overlay: false,overlayClose: false,overlayColor: 'rgba(0, 0, 0, 0.6)',transitionIn: 'fadeInUp',transitionOut: 'fadeOut',transitionInMobile: 'fadeInUp',transitionOutMobile: 'fadeOutDown' }); <\/script>";

                            $("#notificationDiv").append(scriptOption);
                    }
                });
            })
    </script>

}