@*@model ECommerce.Models.ViewModels.MultiModelSearchProduct*@

@{
    ViewBag.Title = "جستجو";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, Ecommerce

@*<div class="col-12">
    <div class="header-filters">
        <button class="btn-filter btn-filter-advanced" onclick="document.getElementById('modal-search').style.display='block'">جستجوی پیشرفته</button>
        <button class="btn-filter btn-filter-direction" data-toggle="modal" data-target="#exampleModalCenter">پربازدیدترین</button>
        <div class="remodal-search-advanced" id="modal-search">
            <nav class="remodal-page-layout">
                <button class="search-filter-remodal-close" onclick="document.getElementById('modal-search').style.display='none'">
                    <i class="fa fa-close"></i>
                </button>
                <div class="remodal-page-header">لوازم جانبی گوشی موبایل</div>
                <div class="remodal-page-main">
                    <div class="filter-bar">
                        <button class="js-listing-options-clear">پاک کردن همه</button>
                        <div class="js-box-content-items">
                            <a href="#">
                                <label for="switch3">
                                    <input type="checkbox" id="switch3" /><span class="switch"><h1 class="switch-title">کالاهای موجود </h1></span>
                                    <span class="toggle"></span>
                                </label>
                            </a>
                        </div>
                    </div>
                    <div class="remodal-page-content">
                        <div class="filter">
                            <label for="#" class="profile-edit-label">
                                <span>جستجو در نتایج</span>
                                <input type="text" value="" name="searchInput" placeholder="نام محصول مورد نظر را بنویسید ...">
                            </label>
                        </div>

                        <div class="filter">
                            <a href="#">
                                <label for="switch4">
                                    <input type="checkbox" id="switch4" /><span class="switch"></span><h1 class="switch-title">فقط کالاهای اصل </h1>
                                    <span class="toggle"></span>
                                </label>
                            </a>
                        </div>

                        <div class="filter">
                            <a href="#">
                                <label for="switch5">
                                    <input type="checkbox" id="switch5" /><span class="switch"></span><h1 class="switch-title">فقط کالاهای آماده ارسال</h1>
                                    <span class="toggle"></span>
                                </label>
                            </a>
                        </div>

                        

                        <div class="filter">
                            <div class="toggle-box">
                                <div class="toggle-box-active">
                                    <ul>
                                        <li class="has-sub">
                                            <a href="#">برند</a>
                                            <ul>
                                                <li>
                                                    <a href="#" class="filter-label">
                                                        <div class="form-auth-row">
                                                            <label for="#" class="ui-checkbox">
                                                                <input type="checkbox" value="1" name="login" id="remember">
                                                                <span class="ui-checkbox-check"></span>
                                                            </label>
                                                            <label for="remember" class="remember-me">سامسونگ</label>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="filter-label">
                                                        <div class="form-auth-row">
                                                            <label for="#" class="ui-checkbox">
                                                                <input type="checkbox" value="1" name="login" id="remember">
                                                                <span class="ui-checkbox-check"></span>
                                                            </label>
                                                            <label for="remember" class="remember-me">نوکیا</label>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="filter-label">
                                                        <div class="form-auth-row">
                                                            <label for="#" class="ui-checkbox">
                                                                <input type="checkbox" value="1" name="login" id="remember">
                                                                <span class="ui-checkbox-check"></span>
                                                            </label>
                                                            <label for="remember" class="remember-me">اپل</label>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="filter-label">
                                                        <div class="form-auth-row">
                                                            <label for="#" class="ui-checkbox">
                                                                <input type="checkbox" value="1" name="login" id="remember">
                                                                <span class="ui-checkbox-check"></span>
                                                            </label>
                                                            <label for="remember" class="remember-me">شیائومی</label>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="filter-label">
                                                        <div class="form-auth-row">
                                                            <label for="#" class="ui-checkbox">
                                                                <input type="checkbox" value="1" name="login" id="remember">
                                                                <span class="ui-checkbox-check"></span>
                                                            </label>
                                                            <label for="remember" class="remember-me">آنر</label>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="filter-label">
                                                        <div class="form-auth-row">
                                                            <label for="#" class="ui-checkbox">
                                                                <input type="checkbox" value="1" name="login" id="remember">
                                                                <span class="ui-checkbox-check"></span>
                                                            </label>
                                                            <label for="remember" class="remember-me">ماهوت</label>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="filter-label">
                                                        <div class="form-auth-row">
                                                            <label for="#" class="ui-checkbox">
                                                                <input type="checkbox" value="1" name="login" id="remember">
                                                                <span class="ui-checkbox-check"></span>
                                                            </label>
                                                            <label for="remember" class="remember-me">سونی</label>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="filter-label">
                                                        <div class="form-auth-row">
                                                            <label for="#" class="ui-checkbox">
                                                                <input type="checkbox" value="1" name="login" id="remember">
                                                                <span class="ui-checkbox-check"></span>
                                                            </label>
                                                            <label for="remember" class="remember-me">هوآوی</label>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="filter">
                            <div class="toggle-box">
                                <div class="toggle-box-active">
                                    <ul>
                                        <li class="has-sub">
                                            <a href="#">فروشنده</a>
                                            <ul>
                                                <li>
                                                    <a href="#" class="filter-label">
                                                        <div class="form-auth-row">
                                                            <label for="#" class="ui-checkbox">
                                                                <input type="checkbox" value="1" name="login" id="remember">
                                                                <span class="ui-checkbox-check"></span>
                                                            </label>
                                                            <label for="remember" class="remember-me">دیجی‌استور</label>
                                                        </div>
                                                    </a>
                                                </li>

                                                <li>
                                                    <a href="#" class="filter-label">
                                                        <div class="form-auth-row">
                                                            <label for="#" class="ui-checkbox">
                                                                <input type="checkbox" value="1" name="login" id="remember">
                                                                <span class="ui-checkbox-check"></span>
                                                            </label>
                                                            <label for="remember" class="remember-me">دیجی‌استور</label>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="#" class="filter-label">
                                                        <div class="form-auth-row">
                                                            <label for="#" class="ui-checkbox">
                                                                <input type="checkbox" value="1" name="login" id="remember">
                                                                <span class="ui-checkbox-check"></span>
                                                            </label>
                                                            <label for="remember" class="remember-me">دیجی‌استور</label>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>*@

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document" style="max-width: 305px; margin:20px auto;">
        <div class="modal-content">
           
        </div>
    </div>
</div>
@*<div class="col-lg-3 col-md-4 col-xs-12">
    <div class="sidebar-wrapper search-sidebar">
        <div class="box-sidebar">
            <span class="box-header-sidebar">دسته‌بندی نتایج</span>
            <div class="catalog">
                <ul class="catalog-list">
                    <li>
                        <div class="show-more">

                            <ul>
                                @{
                                    int i = 0;
                                }
                                @foreach (var item in Model.Categories)
                                {

                                    <li>
                                        @*<a asp-controller="HomePage" asp-action="SearchProduct" asp-route-categorysearch="@item.Id" class="filter-label">
                                            <div class="form-auth-row">
                                                <label class="ui-checkbox">
                                                    <input type="checkbox" value="@item.Id" name="categorysearch" id="@i">
                                                    <span class="ui-checkbox-check"></span>
                                                </label>
                                                <label for="remember" class="remember-me">@item.Title</label>
                                            </div>
                                        </a>*@
                                    </li>
                                    i++;
                                }

                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>



        <div class="box-sidebar">
            <span class="box-header-sidebar"><i class="fa fa-chevron-down arrow"></i>لیست ماشین ها</span>
            <div class="catalog">
                <ul>
                    @foreach (var item in Model.Cars)
                    {
                        <li>
                            @*<a asp-controller="HomePage" asp-action="SearchProduct" asp-route-carsearch="@item.Id" class="filter-label">
                                <div class="form-auth-row">
                                    <label for="#" class="ui-checkbox">
                                        <input type="checkbox" value="@item.Id" name="carsearch" id="carsearch">
                                        <span class="ui-checkbox-check"></span>
                                    </label>
                                    <label for="remember" class="remember-me">@item.Name</label>
                                </div>
                            </a>*@
                        </li>
                    }

                </ul>
            </div>
        </div>

       

        

    </div>
</div>*@
@*<div class="col-lg-9 col-md-8 col-xs-12 pull-left">
    <div class="js-products">
        

        <div class="listing-listing">
            <div class="listing-counter">۱۹۲,۷۳۲ کالا</div>
            <div class="listing-header">
                <span class="mdi mdi-sort-variant"></span>
                <ul class="listing-sort">
                    مرتب‌سازی بر اساس :
                    <li class="listing-active"><a href="#">پربازدید ترین</a></li>
                    <li><a href="#">پرفروش ترین</a></li>
                    <li><a href="#">محبوب ترین</a></li>
                    <li><a href="#">جدید ترین</a></li>
                    <li><a href="#">ارزان ترین</a></li>
                    <li><a href="#">گران ترین</a></li>
                </ul>
            </div>

            <ul class="listing-item">
                <li style="display: block">
                    @foreach (var item in Model.ProductViewModels)
                    {
                        <div class="col-lg-4 col-md-4 col-xs-12 pull-right" style="padding: 0;">
                            <div class="promotion-box">

                                <a href="/HomePage/ProductDetailes/@item.Id" class="promotion-box-image">
                                    <img src="@ViewBag.imagepath@item.ImageName">
                                </a>

                                <div class="product-box-content">
                                    <a href="/HomePage/ProductDetailes/@item.Id" class="product-box-title">@item.Name</a>
                                </div>

                                <div class="product-box-rate">
                                    <span>۲,۶۵۰ نفر</span>

                                    <div class="stars">
                                        <span><img src="~/assets/images/search/star-1.svg"></span>
                                        <span><img src="~/assets/images/search/star-1.svg"></span>
                                        <span><img src="~/assets/images/search/star-1.svg"></span>
                                        <span><img src="~/assets/images/search/star-1.svg"></span>
                                        <span><img src="~/assets/images/search/star-1.svg"></span>
                                    </div>
                                </div>

                                <div class="product-box-row">
                                    <span class="price-value-wrapper">@item.Price</span>
                                    <span class="price-currency">تومان </span>
                                </div>
                            </div>
                        </div>
                    }

                </li>

            </ul>
            <div class="pager">
                <ul class="page-item">
                    <li class="pagination-item"><a href="#" class="pager-item-active">1</a></li>
                    <li class="pagination-item"><a href="#">2</a></li>
                    <li class="pagination-item"><a href="#">3</a></li>
                    <li class="pagination-item"><a href="#">4</a></li>
                    <li class="pagination-item"><a href="#">5</a></li>
                    <div class="pager-items-partition"></div>
                    <li class="pagination-item"><a href="#"><i class="fa fa-angle-double-left"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>*@
<!--search-category------------------------->