@model ECommerce.Models.News

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, ECommerce

@{
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    string date = "";
}
@if (!String.IsNullOrWhiteSpace(Model.Id))
{
    date = Model.Date.ToPersianDateString();
}

    <form asp-controller="News" asp-action="AddEdit" enctype="multipart/form-data">

        <link href="~/persiandatepicker/jquery.Bootstrap-PersianDateTimePicker.css" rel="stylesheet" />

        @*body*@
        <div style="margin-bottom:20px"> </div>
        <div class="col col-md-12">
            <input type="hidden" asp-for="Id" class="form-control" />
            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="Date"></label>
                    <input asp-for="Date" class="form-control hidden" />
                    <input value="@date" type="text" class="form-control" id="fromDate1" name="strDate" placeholder="تاریخ" data-MdDateTimePicker="true" data-placement="left" />
                </div>
            </div>
            <div class="col-lg-3">
                <div class="form-group">
                    <label asp-for="IdCategories"></label>
                    <select asp-for="IdCategories" asp-items="@ViewBag.newscategory" class="form-control"></select>
                </div>
            </div>

            @if (String.IsNullOrWhiteSpace(Model.Id))
            {
                <div class="col-lg-3">
                    <div class="form-group">
                        <label asp-for="ImageName"></label>
                        <input required="required" type="file" id="files" name="files" multiple class="btn btn-danger" />
                    </div>
                </div>
                @if (!String.IsNullOrWhiteSpace(Model.Id))
                {
                    <input type="hidden" name="ImgName" value="@Model.ImageName" />
                }
            }
            else
            {
                <div class="col-lg-3">
                    <div class="form-group">
                        <label asp-for="ImageName"></label>
                        <input type="file" id="files" name="files" multiple class="btn btn-danger" />
                    </div>
                </div>
                @if (!String.IsNullOrWhiteSpace(Model.Id))
                {
                    <input type="hidden" name="ImgName" value="@Model.ImageName" />
                }
            }

        </div>
        <br />
        <br />
        <div class="col-lg-12">
            <div class="form-group">
                <textarea asp-for="Text" class="form-control"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>
        </div>
        <input type="hidden" name="redirectUrl" value="@Url.Action("index", "News")" />

        @*footer*@
        @if (!String.IsNullOrWhiteSpace(Model.Id))
        {
            <div class="modal-footer">
                <button class="btn btn-info" type="button" data-dismiss="modal" value="برگشت">برگشت</button>
                <input type="submit" id="submitdata" class="btn btn-info" value="ویرایش خبر" />
            </div>
        }
        else
        {
            <div class="modal-footer">
                <button class="btn btn-info" type="button" data-dismiss="modal" value="برگشت">برگشت</button>
                <input type="submit" id="submitdata" class="btn btn-success" value="افزودن خبر" />
            </div>
        }
    </form>

@section scripts {
    <script src="~/persiandatepicker/calendar.js"></script>
    <script src="~/persiandatepicker/jquery.Bootstrap-PersianDateTimePicker.js"></script>
    <script src="~/js/CK_Editor/ckeditor/ckeditor.js"></script>
    <script>
        var roxyFileman = '/lib/fileman/index.html';

        CKEDITOR.replace('Text', {
            filebrowserBrowseUrl: roxyFileman,
        });
    </script>



    <script>

        $(document).ready(function () {
           $('.select2List').select2();
        });

        $(document).on('Click', '#submitdata', function (evt) {
            evt.preventDefault();

            var data = new FormData();

            //دریافت مقادیر فایل آپلودی
            var fileupload = $("#files").get(0);
            var files = fileupload.files;

            for (var i = 0; i < files.length; i++) {
                data.append('files', files[i]);
            }

            //دریافت مقادیر موجود
            $('input,select').each(function (x,y) {

                data.append($(y).attr('name'), $(y).val());

            });

            $.ajax({
                type: "Post",
                url: '@Url.Action("AddEdit", "News", new { Area = "Admin" })',
                contentType: false,
                processData: false,
                data: data
                //وقتی که اطلاعات سمت سرور رفت و جواب از سرور آمد
            }).done(function (res) {
                if (res.status === "success") {
                    alert(res.message);
                    window.location.href = '@Url.Action("Index", "News")';
                }
                else {

                    $.each(res.error, function (a, b) {
                        alert(b);
                    })

                    //alert(res.error);
                }
                //برای وقتی که کلا اطلاعات سمت سرور نرفت و در همان بدو ورود خطا داد
            }).fail(function (xhr, b, error) {
                alert(error);
            })

        });

    </script>
}