@model ECommerce.Models.ApplicationUser

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    string fullName = Model.FullName == "" ? "-" : Model.FullName;
    string Email = Model.Email == "" ? "-" : Model.Email;
    string Mobile = Model.PhoneNumber == "" ? "-" : Model.PhoneNumber;
    long NationalCode = Model.NationalCode == 0 ? 0 : Model.NationalCode;
    ViewBag.UserFullName = fullName;
    ViewBag.UserMobile = Mobile;

}

<div>
    @(await Html.PartialAsync("_UserPanel"))
</div>
<div class="col-lg-9 col-md-8 col-xs-12 pull-right">
    <div class="col-lg-12 col-xs-12 pull-right">
        <div class="headline-profile">
            <span>پروفایل</span>
        </div>
        <div class="profile-stats">
            <div class="profile-stats-row">
                <div class="col-lg-6 col-md-6 col-xs-12 pull-right" style="padding:0;">
                    <div class="profile-stats-col">

                        <p><span> نام و نام خانوادگی :</span>@fullName</p>

                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 pull-right" style="padding:0;">
                    <div class="profile-stats-col">
                        @if (Email == null)
                        {
                            Email = "-";
                        }
                        <p><span>پست الکترونیک :</span>@Email</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 pull-right" style="padding:0;">
                    <div class="profile-stats-col">
                        <p><span>شماره تلفن همراه :</span>@Mobile</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-xs-12 pull-right" style="padding:0;">
                    <div class="profile-stats-col">
                        <p><span>کد ملی :</span>@NationalCode</p>
                    </div>
                </div>

                <div class="profile-stats-action">
                    <a asp-controller="UserProfile" asp-action="EditProfile" class="link-spoiler-edit"><i class="fa fa-pencil"></i>ویرایش پروفایل</a>
                </div>
            </div>
        </div>
    </div>
</div>