@model IEnumerable<Address>

@{
    ViewData["Title"] = "userAddress";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @Html.Partial("_UserPanel")
</div>
<div class="col-lg-9 col-md-8 col-xs-12 pull-right">
    <div class="col-lg-12 col-xs-12 pull-right">
        <div class="headline-profile">
            <span>آدرس ها</span>
            @*<a href="#" class="add-address" onclick="document.getElementById('modal').style.display='block'"><i class="mdi mdi-map-marker-outline"></i>افزودن آدرس جدید</a>*@
            <a asp-controller="UserProfile" asp-action="AddEditUserAddress" class="add-address"><i class="mdi mdi-map-marker-outline"></i>افزودن آدرس جدید</a>
        </div>
        @*<div class="profile-stats" style="border:none;">
                <button class="profile-address-add" onclick="document.getElementById('modal').style.display='block'">
                    <a href="#"><i class="mdi mdi-map-marker-outline"></i>افزودن آدرس جدید</a>
                </button>
            </div>*@
        @foreach (var item in Model)
        {
            <div class="profile-address-container">
                <div class="profile-address-card">
                    <div class="profile-address-card-desc">
                        <h1 class="address-full-name">@item.Recipient</h1>
                        <span class="address-address-part">@item.City?.Name</span>
                    </div>

                    <div class="profile-address-card-data">
                        <ul class="profile-address-card-methods">
                            <li><i class="fa fa-envelope-o"></i>کدپستی : <span>@item.PostalCode</span></li>
                            <li><i class="fa fa-mobile"></i>تلفن همراه :  <span>@item.Mobile</span></li>
                        </ul>

                        <div class="profile-address-card-actions">
                            <a class="edit-address-btn" asp-controller="UserProfile" asp-action="AddEditUserAddress" asp-route-id="@item.Id">ویرایش</a>
                            <a class="remove-address-btn" asp-controller="UserProfile" asp-action="DeleteUserAddress" asp-route-id="@item.Id">حذف</a>
                        </div>
                    </div>
                </div>
            </div>
        }
      
    </div>
</div>





