    @model IEnumerable<ECommerce.Models.ApplicationUser>

    @addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
    @addTagHelper *, ECommerce

@{
    ViewBag.Title = "کاربری";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="top-buffer"></div>
<div class="panel panel-primary">
    <div class="panel-heading panel-head">لیست کاربران</div>
    <div class="panel-body">
        <div class="btn-group">
            <a class="btn btn-info" id="showedituser" data-toggle="modal" asp-action="Add"
               data-target="#modal-action">
                <i class="glyphicon glyphicon-pencil"></i>
                افزودن
            </a>
        </div>

        <div></div>
        <table class="table table-bordered table-striped table-condensed">
            <thead>
                <tr>
                    <th>نام و نام خانوادگی</th>
                    <th>شماره موبایل</th>
                    <th>گروه</th>
                    <th style="width: 250px; text-align: center;">عملیات</th>
                </tr>
            </thead>

            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @item.FullName
                        </td>
                        <td>
                            @item.UserName
                        </td>
                        <td>
                            @item.UserGroup?.Title
                        </td>
                        <td>
                            <a class="btn btn-info" id="showedituser" data-toggle="modal" asp-action="Edit"
                               data-target="#modal-action" asp-route-Id="@item.Id">
                                <i class="glyphicon glyphicon-pencil"></i>
                                ویرایش
                            </a>

                            <a class="btn btn-primary" id="showedituser" data-toggle="modal" asp-action="ChangePassword"
                               data-target="#modal-action" asp-route-Id="@item.Id">
                                <i class="glyphicon glyphicon-pencil"></i>
                                ویرایش پسورد
                            </a>
                            
                            @*<a class="btn btn-danger" id="editBookgroup" asp-area="Admin" asp-controller="History" asp-action="Index"
                               data-target="#modal-action-News" asp-route-id="@item.Id">
                                <i class="glyphicon glyphicon-pencil"></i>
                                گالری
                            </a>*@

                            @*<a class="btn btn-danger" id="showedituser" data-toggle="modal" asp-action="UserAddress"
                                   data-target="#modal-action-user" asp-route-id="@item.Id">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                    آدرس
                                </a>

                                <a class="btn btn-info" id="showedituser" asp-action="ChangePassword"
                                       data-target="#modal-action-user" asp-route-Id="@item.Id">
                                        <i class="glyphicon glyphicon-pencil"></i>
                                        ویرایش پسورد
                                    </a>*@

                        </td>
                    </tr>
                }

            </tbody>

        </table>

    </div>

</div>

@await Html.PartialAsync("_Modal", new BootstrapModel { Id = "modal-action", Size = ModalSize.Medium })

@section Scripts{
}