@model IEnumerable<CategoryGroup>

<nav class="main-menu">
    <ul class="new-list-menu">
        <li class="item-list-menu megamenu-1 category">
            <a href="#" class="list-category first after" style="font-weight: bold;"><i class="fa fa-navicon"></i> دسته بندی کالاها</a>

            <ul class="list-menu-level-2">

                @for (int i = 0; i < Model.Count(); i++)
                {
                    var categoryGroup = Model.ElementAt(i);

                    <li class="item-menu-2">
                        <a href="#" class="list-category-menu-2">@categoryGroup.Title</a>

                        <ul class="megamenu-level-3" style="@(i ==0? "display:block;":"")">
                            <a href="#" class="list-category-megamenu">همه دسته بندی های @categoryGroup.Title</a>
                            <div class="row">

                                @{
                                    var categories = categoryGroup.Categories.OrderBy(x => x.Title);

                                    <div class="menu-level-3 col-3">

                                        @for (int j = 0; j < categories.Count() && j < 8; j++)
                                        {
                                            <li class="item-megamenu-3"><a asp-controller="Product" asp-action="Category" asp-route-id="@categories.ElementAt(j).Id" class="list-category-megamenu-3"><span>@categories.ElementAt(j).Title</span></a></li>
                                        }

                                    </div>

                                    <div class="menu-level-3 col-3">

                                        @for (int j = 8; j < categories.Count() && j < 16; j++)
                                        {
                                            <li class="item-megamenu-3"><a asp-controller="Product" asp-action="Category" asp-route-id="@categories.ElementAt(j).Id" class="list-category-megamenu-3"><span>@categories.ElementAt(j).Title</span></a></li>
                                        }

                                    </div>

                                    <div class="menu-level-3 col-3">

                                        @for (int j = 16; j < categories.Count() && j < 24; j++)
                                        {
                                            <li class="item-megamenu-3"><a asp-controller="Product" asp-action="Category" asp-route-id="@categories.ElementAt(j).Id" class="list-category-megamenu-3"><span>@categories.ElementAt(j).Title</span></a></li>
                                        }

                                    </div>

                                    <div class="menu-level-3 col-3">

                                        @for (int j = 24; j < categories.Count() && j < 32; j++)
                                        {
                                            <li class="item-megamenu-3"><a asp-controller="Product" asp-action="Category" asp-route-id="@categories.ElementAt(j).Id" class="list-category-megamenu-3"><span>@categories.ElementAt(j).Title</span></a></li>
                                        }

                                    </div>

                                }
                            </div>

                        </ul>

                    </li>

                }

            </ul>

        </li>

        <li class="item-list-menu megamenu-1"><a asp-controller="Home" asp-action="About" class="list-category first after" style="font-weight: bold;">درباره ما</a></li>
        <li class="item-list-menu megamenu-1"><a asp-controller="Home" asp-action="Contact" class="list-category first after" style="font-weight: bold;">تماس با ما</a></li>
        <li class="item-list-menu megamenu-1"><a asp-controller="Blog" asp-action="Index" class="list-category first after" style="font-weight: bold;">بلاگ</a></li>
        <li class="item-list-menu megamenu-1"><a asp-controller="Qusetions" asp-action="Qusetions" class="list-category first after" style="font-weight: bold;">پرسش های متداول</a></li>
        @*<li class="item-list-menu megamenu-1"><a href="#" class="list-category first after">سوالی دارید؟</a></li>
            <li class="item-list-menu megamenu-1"><a href="#" class="list-category first after">فروشنده شوید</a></li>*@
    </ul>

    @*<a href="#" class="map-city">لطفا شهر و استان خود را انتخاب کنید<span class="mdi mdi-map-marker-outline"></span></a>*@

</nav>